<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize"
      >Iniciar sesion</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-padding">
    <img src="assets/images/Login-Image.png" />
  </figure>
  <p class="ion-hide">Hola Mundo</p>

  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Correo electronico"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Contraseña"
        formControlName="password"
        type ="password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit"> Login </ion-button>
  </form>
</ion-content>
