<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize"
      >Iniciar sesion</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-padding">
    <img src="assets/images/Login-Image.png" />
  </figure>
  <p class="ion-hide">Hola Mundo</p>

  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Correo electronico"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          *ngIf="(loginForm.get('email')?.hasError(validation.type) &&
         loginForm.get('email')?.dirty)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Contraseña"
        formControlName="password"
        type="password"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          *ngIf="(loginForm.get('password')?.hasError(validation.type) &&
         loginForm.get('password')?.dirty)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-button type="submit" [disabled]="!loginForm.valid" Expand="block">
      Login <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
