swiper-container{
width: 80%;
height: 80%;
padding-top: 10%;
margin-top: 20%;

}

swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool-title{
  color: red;
}

.custom-bg-color{
  --background: rgb(3, 3, 3);
  --color:white;
}

.sp-bg-color{
  background-color: rgb(3, 3, 101);
}

ion-avatar{
  //--border-radius: 0px;
}

.style-avatar{
  --border-radius: 0px;
  }
