<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title class="ion-text-center"> Register</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets/images/Login-Image.png" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-input
        label="Name"
        labelPlacement="floating"
        placeholder="Escriba su nombre"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Last Name"
        labelPlacement="floating"
        placeholder="Escriba su apellido"
        formControlName="last_name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Escriba su email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Escriba su contraseña"
        formControlName="password" type="password"
      ></ion-input>
    </ion-item>
  </form>

  <ion-button type="submit" Expand="block" [disabled]="!registerForm.valid">
    Register <ion-icon name="document-text-outline"></ion-icon>
  </ion-button>
</ion-content>
